<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Desafio Stefanini</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" [routerLink]="['/']" routerLinkActive="active" href="#">Cidades</a>
                <a class="nav-link" [routerLink]="['/pessoas']" routerLinkActive="active" href="#">Pessoas</a>
            </div>
        </div>
    </div>
</nav>