<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <h1>Lista de Pessoas</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <a [routerLink]="['/pessoas/create']" class="btn btn-success">Adicionar</a>
        </div>
    </div>
    <div class="row mt-4">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Cidade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let pessoa of pessoas'>
                    <th scope="row">{{pessoa.id}}</th>
                    <td>{{pessoa.nome}}</td>
                    <td>{{pessoa.cpf}}</td>
                    <td>{{pessoa.idade}}</td>
                    <td>{{pessoa.cidade.nome}}</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <a [routerLink]="['/pessoas/',pessoa.id, 'show']" class="btn btn-primary me-md-2"
                                type="button">Visualizar</a>
                            <a [routerLink]="['/pessoas/',pessoa.id, 'edit']" class="btn btn-warning me-md-2"
                                type="button">Editar</a>
                            <a class="btn btn-danger" (click)="Remover(pessoa.id)" type="button">Remover</a>
                        </div>
                    </td>
                </tr>

            </tbody>
        </table>
    </div>
</div>