<div class="container">
    <div class="row mt-4">
        <div class="col-md-4">
            <h1>Lista de Pessoas</h1>
        </div>
    </div>
    <div class="row mt-4">
        <div class="col-md-4">
            <a [routerLink]="['/pessoas/create']" class="btn btn-success">Adicionar</a>
        </div>
    </div>
    <div class="row mt-4">
        <table class="table table-responsive">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome</th>
                    <th scope="col">Cpf</th>
                    <th scope="col">Idade</th>
                    <th scope="col">Cidade</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>65485846548</td>
                    <td>25</td>
                    <td>Taboão</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="button">Visualizar</button>
                            <button class="btn btn-warning me-md-2" type="button">Editar</button>
                            <button class="btn btn-danger" type="button">Remover</button>
                        </div>
                    </td>
                </tr>

                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>65485846548</td>
                    <td>25</td>
                    <td>Taboão</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="button">Visualizar</button>
                            <button class="btn btn-warning me-md-2" type="button">Editar</button>
                            <button class="btn btn-danger" type="button">Remover</button>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th scope="row">1</th>
                    <td>Mark</td>
                    <td>65485846548</td>
                    <td>25</td>
                    <td>Taboão</td>
                    <td>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button class="btn btn-primary me-md-2" type="button">Visualizar</button>
                            <button class="btn btn-warning me-md-2" type="button">Editar</button>
                            <button class="btn btn-danger" type="button">Remover</button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>